$primaryColor: #1692cc;


$navBarColor: $primaryColor;
$navBarHoverColor: #e0e0e0;
$navBarTextColor: white;
$navBarTextHoverColor: #2d717a;

.navbar {
    background-color: $navBarColor;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 50px;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
    color: $navBarTextColor;
    transition: background-color 0.3s;

    &__button {
        padding: 10px 20px;
        border-radius: 50px;
        background-color: transparent;
        border: none;
        font-size: 16px;
        font-weight: 500;
        color: $navBarTextColor;
        transition: background-color 0.3s, border-radius 0.3s;
        margin: 0 5px;

        &:hover {
            background-color: white;
            color: black;
            border-radius: 50px;
            cursor: pointer;
        }
    }
}

.search-bar {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    padding-right: 1px;

    input[type="text"] {
        border: none;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        padding: 10px;
        padding-right: 39px;
        width: 200px;
        border-radius: 50px;
        text-align: right;
    }

    form {
        display: flex;
        align-items: center;

        button {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%232A2A2A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E") no-repeat center center;
            width: 20px;
            height: 20px;
            border: none;
            outline: none;
            margin-left: -32px;
            color: lightslategrey;
        }
    }
}

.container {
    max-width: 1500px;
    display: flex;
    margin: 0 auto;
}

.column {
    height: 100vh;
}

.column1 {
    width: 15%;
    background-color: #ccc;
}

.column2 {
    width: 70%;
    background-color: #ddd;
}

.column3 {
    width: 15%;
    background-color: #eee;
}